<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <section >
            <h1>Resultado do Quiz</h1>
        </section>
    </header>

    <main>
        <section class="mainEnviar"> 
            <p>O total de respostas certas foi: {{ pontos }}</p>

            <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZWhhNmwxMGZmZ2Eyb3Q4MGF3Mmp2anZlNzZ4cng4YWVkczcwdnR1NiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/DEbcjhoX1zBTiXmr3M/giphy.gif" alt="Gif animado">
        </section>
    </main>

    <footer>
            <p class="pFooter">&copy; Quiz de programadores. Todos os direitos reservados.</p>
            <p class="pFooter">&gt; Desenvolvido por William Mendes de paula.</p>
            <p class="pFooter">&gt; <a href="https://github.com/W1lliam-Mendes/" target="_blank">GitHub</a></p>
            <p class="pFooter">&gt; <a href="https://linkedin.com/in/william-mendes-5889533ab/" target="_blank">LinkedIn</a></p>
    </footer>
</body>
</html>